@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    <h1>Site Indexer</h1>
</div>

<div class="indexing">
    <form class="form" method="post" action="/Indexing/Start" status="/Indexing/GetJobStatus" empty="/Indexing/EmptyIndex">
        <fieldset>
            <button class="submit scButton">Start Indexing</button>
            <button class="empty-submit scButton">Empty Indexing</button>
        </fieldset>
    </form>
    <div class="job-messages"></div>
    <div class="empty-messages">
        <div class="empty-success"></div>
        <div class="empty-failure"></div>
    </div>
    <form class="search-form" method="post" action="/Indexing/Search">
        <fieldset>
            <input type="text" id="query" class="query" />
            <button class="submit scButton">Search Index</button>
        </fieldset>
    </form>
    <div class="search-results"></div>
    @Html.Partial("/Views/Shared/_ProgressIndicator.cshtml")
</div>