@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    <h1>Welcome To Site Indexer</h1>
</div>

<div class="indexing">
    <h2>Indexing</h2>
    <form class="form" method="post" action="/Indexing/Start">
        <fieldset>
            <button class="submit scButton">Start Indexing</button>
        </fieldset>
    </form>
    <div class="submit-success">
        The indexing was successful!
    </div>
    <div class="submit-failure">
        The indexing failed.
    </div>
    @Html.Partial("/Views/Shared/_ProgressIndicator.cshtml")
</div>